<%- include('head'); %>
<section id="game">
  <script src="/js/game.js"></script>
</section>
<section id="hud">
  <span id="time">00.00</span>
  <div id="toggleItemList">&darr;</div>
  <div id="itemList"></div>
</section>
<section class="modal">
  <div id="hero">Eye-SpEye</div>
  <div id="play">PLAY</div>
  <div id="worlds">WORLDS</div>
  <div id="settings">SETTINGS</div>
</section>
<%- include('foot'); %>